body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 20px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.hobbies-card {
  text-align: center;
}

.img-circle {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 200px;
}

.button {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;

}
a {
  color: grey;
}

.list-inline {
  list-style: none;
  padding-left: 0;
}

.list-inline > li {
  display: inline-block;
  padding: 0 20px;
}

.media-card {
  background: white;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.video-card {
  text-align: center;
}
.profile-card{
  text-align: center;
}
.button {
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
  background-color: #04AA6D; /* Green */
  color: white;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
